.web{
  color: blue;
}
body{
  font-family: 'poppins', sans-serif;
  background-color: #483D8B;
}
*{
  margin: 0;
  padding: 0;
}

.cabecalho  {background-color:#836FFF ;
color:white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.escola-imagem{
    width: 20%;
    margin-left: 100px;
}

.cabecalho-lista{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    width: 100px;
}
.escola-imagem{
  width: 25%;
}
.escola{
  background-image: linear-gradient(#836FFF,#6959CD,#483D8B);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.escola-div-conteudo{
  width: 35%;
}
.escola-titulo{
  padding: 24px 0;
}
.estudante-imagem{
  width: 120px;
}
.estudante-icone{
  width: 24px;
}
.estudante-div{
  text-align: center;
}
.estudante-titulo{
  text-align: center;
  padding: 50px 0;
}
.estudante-todos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.rodape{
  background-color: ;
  text-align: center;
}
.rodape-imagem{
  height: 60px;
  padding: 12px 0;
  color: blue;
}